body {
    background-color: #F5F5F5;
}

.layout {
    width: 854px;
    height: 544px;
    margin: 0 auto;
    background-color: #fff;
}


/* 头部区域 */

.head {
    position: relative;
    overflow: hidden;
}

.trigger a {
    position: absolute;
    right: 0;
    width: 80px;
    height: 80px;
    background: url(../images/lmd-imgs/icon_ercode.png) no-repeat;
}

.trigger a:hover {
    background-position: -80px 0;
}

.head-logo {
    width: 48px;
    border-radius: 3px;
    overflow: hidden;
    margin: 25px auto 15px;
}

.head-logo img {
    width: 48px;
    height: 48px;
}

.head h4 {
    font-size: 22px;
    color: #333;
    text-align: center;
    font-weight: normal;
}


/* 主体部分 */

.content {
    width: 358px;
    margin: 15px auto 0;
}

.login-area {
    position: relative;
}

.login-area input {
    width: 100%;
    padding: 13px 16px 13px 14px;
    border: 1px solid #e0e0e0;
    margin-bottom: 13px;
}

.login-area .sname,
.login-area .spwd {
    position: absolute;
    right: -88px;
    top: 10px;
    font-size: 14px;
    color: red;
}

.login-area .spwd {
    top: 69px;
}

.login-area input::-webkit-input-placeholder {
    color: #9B9BA1;
}

.login-btn {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 14px;
    margin: 10px 0 14px;
    background-color: #ff6700;
    cursor: pointer;
}

.login-link-one {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #ff6700 !important;
}

.login-link-two {
    text-align: center;
    padding: 30px 0 50px;
}

.login-link-two a {
    font-size: 14px;
    color: #757575;
}

.login-link-two a:hover {
    color: #ff6700;
}

.login-link-two em {
    display: inline-block;
    border: 0.5px solid #e0e0e0;
    height: 14px;
    margin: 0 2px;
}

.link-three-top {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.login-title,
.ecode-link-tit span {
    font-size: 14px;
    margin-top: -10px;
    color: #b0b0b0;
}

.login-link-three i {
    flex: 1;
    border-top: 1px solid #e0e0e0;
}

.link-other {
    text-align: center;
}

.link-other li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 12px;
    border-radius: 50%;
    background-color: #0288d1;
}

.link-other li:nth-child(2) {
    background-color: #d32f2f;
}

.link-other li:nth-child(3) {
    background-color: #0ae;
}

.link-other li:nth-child(4) {
    background-color: #00d20d;
}

.link-other li a {
    display: inline-block;
    width: 20px;
    height: 21px;
    background: url('../images/lmd-imgs/icons_type.png') no-repeat -18px 4px;
}

.link-other li:nth-child(2) a {
    background-position: -37px 4px;
}

.link-other li:nth-child(3) a {
    background-position: -58px 4px;
}

.link-other li:nth-child(4) a {
    background-position: -83px 4px;
    width: 24px;
}


/* 二维码部分 */

.ercode-area {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.code-hd {
    padding: 45px 0 30px;
}

.code-hd .trigger a {
    top: 0;
    right: -127px;
    background-position: -160px 0;
}

.code-hd .trigger a:hover {
    background-position: -240px 0;
}

.code-tit {
    font-size: 24px;
    color: #ff6700;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

.code-hd p {
    font-size: 18px;
    text-align: center;
    color: #333;
}

.ewm {
    width: 270px;
    height: 270px;
    margin: 0 auto 40px;
}

.ewm img {
    width: 100%;
}

.ecode-link {
    padding: 0 150px;
}

.ecode-link-tit {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.ecode-link-tit i {
    flex: 1;
    border-top: 1px solid #e0e0e0;
}

.ecode-link-bd {
    text-align: center;
}

.app-item {
    display: inline-block;
    margin: 0 16px;
}

.app-item .app-img {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/lmd-imgs/icon_apps.png) no-repeat -32px 0;
}

.app-item .txt {
    display: block;
    height: 20px;
}

.app-item .txt:hover {
    color: #333;
}

.app-item:nth-child(2) .app-img {
    background-position: 0 -32px;
}

.app-item:nth-child(3) .app-img {
    background-position: -32px -32px;
}


/* 底部制作 */

.footer {
    height: 80px;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 10px 10px;
}

.footer ul li a {
    font-size: 14px;
}

.footer p {
    font-size: 14px;
}

.footer p a:hover {
    color: #333;
}