/** @format */

body {
	font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
		Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}

/* 版心 */
.w {
	width: 1226px;
	margin: 0 auto;
}

/* 我的购物车标题模块，头部区域 */
.header {
	width: 100%;
	height: 100px;
	border-bottom: 2px solid #ff6700;
}
/* 顶部小导航栏和搜索模块 */
.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

/* 小米logo */
.header h1 {
	overflow: hidden;
	width: 55px;
	height: 55px;
	font-size: 0;
	background-color: #ff6700;
}

.top_logo {
	position: relative;
	width: 55px;
	height: 55px;
}

.top_logo::after {
	content: '';
	position: absolute;
	left: -55px;
	width: 55px;
	height: 55px;
	background: url(../../images/lkl/img/index/mi-home.png) no-repeat center;
	transition: all 0.5s;
}

.top_logo::before {
	content: '';
	position: absolute;
	left: 0;
	width: 55px;
	height: 55px;
	background: url(../../images/lkl/img/index/mi-logo.png) no-repeat center;
	transition: all 0.5s;
}

.top_logo:hover::after {
	left: 0;
}

.top_logo:hover::before {
	left: 55px;
}

/* 标题 */
.title {
	display: flex;
	align-items: baseline;
	margin-left: -360px;
	height: 48px;
}

.title h2 {
	margin-right: 10px;
	font-size: 28px;
	font-weight: 400;
}

.title p {
	color: #666;
}

/* 个人信息和我的订单模块 */
.message {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	color: #999;
}

.person_details {
	position: relative;
	padding: 0 30px;
}

.person_details::after {
	content: '\e745';
	font-family: 'iconfont';
	position: absolute;
	right: 10px;
	top: 0;
	transform: rotate(180deg);
	transition: all 0.3s;
}
.my_order {
	padding: 0 8px;
}

.person_details span:hover,
.my_order:hover {
	color: #ff6700;
}

.person_details:hover::after {
	transform: rotate(0);
}

.person_details:hover .hide {
	display: block;
}

/* 个人信息下拉菜单 */
.hide {
	display: none;
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #333;
	background-color: #fff;
	transition: all 0.3s;
}

.hide li {
	margin: 8px 0;
	transition: all 0.3s;
}

.hide li:hover {
	color: #ff6700;
	background-color: #eee;
}

/* 购物车主体部分 */
.main {
	padding: 30px 0;
	background-color: #f5f5f5;
}

.shopping_box {
	overflow: hidden;
	background-color: #fff;
}

.cart_thead {
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
	position: relative;
}

.cart_thead > div {
	float: left;
}

.t_checkbox,
.p_checkbox {
	width: 122px;
	padding-left: 25px;
}

.p_checkbox {
	height: 18px;
	line-height: 18px;
}

.t_goods,
.p_goods {
	width: 400px;
	margin-left: 40px;
}

.t_goods {
	padding-left: 80px;
}

.t_price,
.p_price {
	width: 150px;
	text-align: center;
}

.t_num,
.p_num {
	width: 150px;
	text-align: center;
}

.t_sum,
.p_sum {
	width: 150px;
	text-align: center;
}

.t_action {
	width: 150px;
	text-align: center;
}

.p_action {
	margin-left: 64px;
}

.cart_item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 160px;
	border-top: 1px solid #ccc;
	background-color: #fff;
	padding: 14px 0;
}

.p_img {
	float: left;
	width: 80px;
	height: 80px;
}

.p_img img {
	width: 100%;
	height: 100%;
}

.p_msg {
	float: left;
	padding: 0 5px;
	font-size: 16px;
	margin-top: 25px;
	margin-left: 25px;
}

.p_sum {
	color: #ff6700;
}

.quantity_form {
	display: flex;
	justify-content: center;
	height: 25px;
	margin: 0 auto;
}

.decrement,
.increment {
	border: 1px solid #cacbcb;
	height: 25px;
	padding: 1px 0;
	width: 25px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff;
	margin-left: -1px;
}

.decrement:hover,
.increment:hover {
	color: #fff;
	background-color: #ff6700;
}

.itxt {
	border: 1px solid #cacbcb;
	width: 45px;
	height: 25px;
	text-align: center;
	padding: 1px;
	margin: 0;
	margin-left: -1px;
	font-size: 12px;
	font-family: verdana;
	color: #333;
	-webkit-appearance: none;
}

/* 结算模块 */
.accounts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin-top: 30px;
	background-color: #fff;
}

/* 左边模块 */
.l_accounts {
	margin-left: 30px;
	display: flex;
	color: #666;
}

.l_accounts div:first-child {
	padding: 0 15px;
	margin-right: 15px;
	border-right: 1px solid #eee;
}

.l_accounts div:first-child a {
	color: #666;
}

.l_accounts div:first-child a:hover {
	color: #ff6700;
}

.l_accounts div:last-child span {
	color: #ff6700;
	padding: 0 3px;
}

/* 右边模块 */
.r_accounts {
	display: flex;
	align-items: center;
}

.r_accounts .total {
	color: #ff6700;
	margin-right: 30px;
	font-size: 16px;
}
.r_accounts .total span {
	font-size: 24px;
	padding: 0 3px;
}
.r_accounts a {
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	vertical-align: top;
	background: #e0e0e0;
	color: #b0b0b0;
	cursor: default;
	transition: color 0.3s;
}

.r_accounts .active {
	background-color: #ff6700;
	color: #fff;
	cursor: pointer;
}

/* 其他商品 */
.ohter_goods {
	overflow: hidden;
	background-color: #f5f5f5;
}

.goods_main {
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 30px 0;
	border-top: 1px solid #ccc;
}

.hd_goods {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 20px;
	font-size: 28px;
	color: #757575;
	background-color: #f5f5f5;
}

.list {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.list_item {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	margin-right: 14px;
	margin-bottom: 14px;
	width: 234px;
	height: 300px;
	text-align: center;
}

.list_item .join,
.list_item .joined {
	display: block;
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #ff6700;
	border: 1px solid #ff6700;
	background-color: #fff;
}

.list_item .joined {
	top: -44px;
	color: #fff;
	border-color: #83c44e;
	background-color: #83c44e;
}

/* 点击假如购物车给joined添加的类 */
.click {
	animation: move3 0.5s linear forwards;
}

.list_item .join {
	bottom: -44px;
	transition: all 0.5s;
	animation: move2 0.5s linear forwards;
}

.list_item .join:hover {
	background-color: #ff6700;
	color: #fff;
}

.list_item:hover .join {
	animation: move1 0.5s linear forwards;
}

@keyframes move1 {
	0% {
	}
	100% {
		bottom: 14px;
	}
}

@keyframes move2 {
	0% {
		bottom: 14px;
	}
	100% {
		bottom: -44px;
	}
}

@keyframes move3 {
	0% {
	}
	100% {
		top: 0;
	}
}

.list_item:nth-child(5n) {
	margin-right: 0;
}

.list_item > a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 12px;
}

.list_item > a > img {
	width: 160px;
	margin: 15px 0;
	transition: all 0.3s;
}

.list_item > a h3 {
	font-weight: 400;
	margin-bottom: 5px;
}

.list_item > a > p:nth-of-type(1) {
	color: #ff6700;
	font-size: 14px;
}

.list_item > a > p:nth-of-type(2) {
	margin-top: 18px;
	color: #ccc;
}

/* 页面底部模块 */
.footer {
	width: 100%;
	margin-bottom: 20px;
}

/* 预约维修列表 */
.cont_footer .hd_conts {
	display: flex;
	width: 100%;
	height: 80px;
	padding: 27px 0;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}

.cont_footer a:hover {
	color: #ff6700;
}

.hd_conts .hd_cont {
	position: relative;
	flex: 1;
	padding-left: 72px;
	border-right: 1px solid #ccc;
}

.hd_cont:last-child {
	border-right: 0;
}

.hd_cont span {
	position: absolute;
	font-family: 'iconfont';
	top: 50%;
	left: 19%;
	transform: translateY(-53%);
	font-size: 24px;
	color: #e53934;
}

/* 帮助中心 */
.help_center {
	width: 100%;
	display: flex;
	padding: 40px 0;
}

/* 左侧 */
.l_help {
	flex: 4;
	display: flex;
}

.l_help .item {
	flex: 1;
	padding-left: 10px;
}

.l_help .item dt {
	margin-bottom: 20px;
}

.l_help .item dd {
	margin-bottom: 5px;
}

/* 右侧 */
.r_help {
	flex: 1;
	text-align: center;
	height: 120px;
	border-left: 1px solid #ccc;
}

.r_help p {
	margin: 0 0 5px 0;
	font-size: 12px;
}

.r_help p:nth-of-type(1) {
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
}

.r_help p:nth-of-type(3) {
	margin-top: 10px;
}

.r_help p:nth-of-type(3) a {
	font-family: 'iconfont';
	font-size: 20px;
	margin-right: 5px;
}

.r_help > a {
	display: inline-block;
	width: 118px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	border: 1px solid #ff6700;
	color: #ff6700;
}

.r_help > a:hover {
	background-color: #ff6700;
	color: #fff;
}

.r_help > a span {
	font-family: 'iconfont';
	font-size: 18px;
	vertical-align: bottom;
}

/* 底部导航栏 */
.footer_nav a {
	float: left;
	font-size: 14px;
	color: #777;
}
.footer_nav span {
	float: left;
	margin: -1px 5px;
}

/* 法律信息 */

.law {
	margin-top: 20px;
}

.law a {
	color: #777;
}

.slogan {
	width: 100%;
	height: 19px;
	margin-top: 20px;
	background: url(../../images/lkl/img/index/slogan2020.png) no-repeat center 0;
}
